<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.jesse.mapper.EmployeeMapper">

    <select id="selectById" parameterType="java.lang.String" resultType="com.jesse.bean.Employee">
        select * from employee_inf where id=#{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from employee_inf where id=#{id}
    </delete>

    <update id="update" parameterType="com.jesse.bean.Employee">
        update employee_inf
        <set>
            <if test="name != null">name= #{name},</if>
            <if test="cardId != null">card_id= #{cardId},</if>
            <if test="address != null">address= #{address},</if>
            <if test="postCode != null">post_code= #{postCode},</if>
            <if test="tel != null">tel= #{tel},</if>
            <if test="phone != null">phone= #{phone},</if>
            <if test="qqNum != null">qq_num= #{qqNum},</if>
            <if test="email != null">email= #{email},</if>
            <if test="sex != null">sex= #{sex},</if>
            <if test="party != null">party= #{party},</if>
            <if test="birthday != null">birthday= #{birthday},</if>
            <if test="race != null">race= #{race},</if>
            <if test="education != null">education= #{education},</if>
            <if test="speciality != null">speciality= #{speciality},</if>
            <if test="hobby != null">hobby= #{hobby},</if>
            <if test="remark != null">remark= #{remark},</if>
            <if test="dept !=null and dept.id != null">dept_id= #{dept.id},</if>
            <if test="job !=null and job.id != null">job_id= #{job.id}</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectByPage" parameterType="hashmap" resultMap="employeeMap">
        SELECT * FROM(
        SELECT e.*, ROWNUM RN FROM
        (
        SELECT * FROM employee_inf

        <where>

            <if test="employee != null">

                <if test="employee.dept !=null">
                    <if test="employee.dept.id != null and employee.dept.id !=''">
                        dept_id LIKE CONCAT (CONCAT('%',#{employee.dept.id}),'%')
                    </if>
                </if>

                <if test="employee.job !=null">
                    <if test="employee.job.id != null and employee.job.id !=''">
                        and job_id LIKE CONCAT (CONCAT('%',#{employee.job.id}),'%')
                    </if>
                </if>

                <if test="employee.name != null and employee.name !=''">
                    and name LIKE CONCAT (CONCAT('%',#{employee.name}),'%')
                </if>

                <if test="employee.phone != null and employee.phone !=''">
                    and phone LIKE CONCAT (CONCAT('%',#{employee.phone}),'%')
                </if>

                <if test="employee.cardId != null and employee.cardId !=''">
                    and card_id LIKE CONCAT (CONCAT('%',#{employee.cardId}),'%')
                </if>

                <if test="employee.sex != null and employee.sex !=''">
                    and sex LIKE CONCAT (CONCAT('%',#{employee.sex}),'%')
                </if>

            </if>
        </where>
        ORDER BY create_date ) e
        <if test="pageModel == null">
            )
        </if>
        <if test="pageModel != null">
            WHERE ROWNUM &lt;= #{pageModel.pageTo})
            WHERE RN &gt;= #{pageModel.pageFrom}
        </if>

    </select>

    <resultMap id="employeeMap" type="com.jesse.bean.Employee">
        <id column="id" property="id" />
        <result column="card_id" property="cardId" />
        <result column="post_code" property="postCode" />
        <result column="qq_num" property="qqNum" />
        <result column="birthday" property="birthday" javaType="java.util.Date"/>
        <result column="create_date" property="create_date" javaType="java.util.Date"/>
        <association column="dept_id" property="dept"
            select="com.jesse.mapper.DeptMapper.selectById"
            javaType="com.jesse.bean.Dept"/>
        <association column="job_id" property="job"
                     select="com.jesse.mapper.JobMapper.selectById"
                     javaType="com.jesse.bean.Job"/>
    </resultMap>

    <select id="count" parameterType="hashmap" resultType="java.lang.Integer">
        select count(*) from employee_inf
        <where>

            <if test="employee != null">

                <if test="employee.dept !=null">
                    <if test="employee.dept.id != null and employee.dept.id !=''">
                        dept_id LIKE CONCAT (CONCAT('%',#{employee.dept.id}),'%')
                    </if>
                </if>

                <if test="employee.job !=null">
                    <if test="employee.job.id != null and employee.job.id !=''">
                        and job_id LIKE CONCAT (CONCAT('%',#{employee.job.id}),'%')
                    </if>
                </if>

                <if test="employee.name != null and employee.name !=''">
                    and name LIKE CONCAT (CONCAT('%',#{employee.name}),'%')
                </if>

                <if test="employee.phone != null and employee.phone !=''">
                    and phone LIKE CONCAT (CONCAT('%',#{employee.phone}),'%')
                </if>

                <if test="employee.cardId != null and employee.cardId !=''">
                    and card_id LIKE CONCAT (CONCAT('%',#{employee.cardId}),'%')
                </if>

                <if test="employee.sex != null and employee.sex !=''">
                    and sex LIKE CONCAT (CONCAT('%',#{employee.sex}),'%')
                </if>

            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.jesse.bean.Employee">
        insert into employee_inf (<include refid="insertEmployeeKey"/>) values (<include refid="insertEmployeeValue"/>)
    </insert>

    <sql id="insertEmployeeKey">
        <trim suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="cardId != null">card_id,</if>
            <if test="address != null">address,</if>
            <if test="postCode != null">post_code,</if>
            <if test="tel != null">tel,</if>
            <if test="phone != null">phone,</if>
            <if test="qqNum != null">qq_num,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="party != null">party,</if>
            <if test="birthday != null">birthday,</if>
            <if test="race != null">race,</if>
            <if test="education != null">education,</if>
            <if test="speciality != null">speciality,</if>
            <if test="hobby != null">hobby,</if>
            <if test="remark != null">remark,</if>
            <if test="dept !=null and dept.id != null">dept_id,</if>
            <if test="job !=null and job.id != null">job_id</if>
        </trim>
    </sql>

    <sql id="insertEmployeeValue">
        <trim suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="address != null">#{address},</if>
            <if test="postCode != null">#{postCode},</if>
            <if test="tel != null">#{tel},</if>
            <if test="phone != null">#{phone},</if>
            <if test="qqNum != null">#{qqNum},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="party != null">#{party},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="race != null">#{race},</if>
            <if test="education != null">#{education},</if>
            <if test="speciality != null">#{speciality},</if>
            <if test="hobby != null">#{hobby},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dept !=null and dept.id != null">#{dept.id},</if>
            <if test="job !=null and job.id != null">#{job.id}</if>
        </trim>
    </sql>

</mapper>