<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.jesse.mapper.NoticeMapper">

    <select id="selectById" parameterType="java.lang.String" resultType="com.jesse.bean.Notice">
        select * from notice_inf where id=#{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from notice_inf where id=#{id}
    </delete>

    <update id="update" parameterType="com.jesse.bean.Notice">
        update notice_inf
        <set>
            <if test="title != null">title= #{title},</if>
            <if test="content != null">content= #{content},</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectByPage" parameterType="hashmap" resultMap="noticeMap">
        SELECT * FROM(
        SELECT n.*, ROWNUM RN FROM
        (
        SELECT * FROM notice_inf
        <where>
            <if test="notice != null">
                <if test="notice.title != null and notice.title !=''">
                    title LIKE CONCAT (CONCAT('%',#{notice.title}),'%')
                </if>
                <if test="notice.content != null and notice.content !=''">
                    and content LIKE CONCAT (CONCAT('%',#{notice.content}),'%')
                </if>
            </if>
        </where>
        ORDER BY create_date)n
        <if test="pageModel == null">
            )
        </if>
        <if test="pageModel != null">
            WHERE ROWNUM &lt;= #{pageModel.pageTo})
            WHERE RN &gt;= #{pageModel.pageFrom}
        </if>

    </select>

    <resultMap id="noticeMap" type="com.jesse.bean.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
        <association property="user" column="user_id"
                     select="com.jesse.mapper.UserMapper.selectById"
                     javaType="com.jesse.bean.User"
        ></association>
    </resultMap>

    <select id="count" parameterType="hashmap" resultType="java.lang.Integer">
        select count(*) from notice_inf
        <where>
            <if test="notice != null">
                <if test="notice.title != null and notice.title !=''">
                    title LIKE CONCAT (CONCAT('%',#{notice.title}),'%')
                </if>
                <if test="notice.content != null and notice.content !=''">
                    and content LIKE CONCAT (CONCAT('%',#{notice.content}),'%')
                </if>
            </if>
        </where>
    </select>

    <sql id="insertNotice">
        <set>
            <if test="title != null">title= #{title},</if>
            <if test="content != null">content= #{content},</if>
            <if test="user != null and user.id != null">
                user_id=#{user.id},
            </if>
            create_date=NOW()
        </set>
    </sql>

    <insert id="save" parameterType="com.jesse.bean.Notice">
        insert into notice_inf (<include refid="insertNoticeKey"/>) values (<include refid="insertNoticeValue"/>)
    </insert>

    <sql id="insertNoticeKey">
        <trim suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="user != null and user.id != null">user_id,</if>
        </trim>
    </sql>

    <sql id="insertNoticeValue">
        <trim suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="user != null and user.id != null">#{user.id},</if>
        </trim>
    </sql>

</mapper>