<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.jesse.mapper.UserMapper">

    <select id="selectByLoginnameAndPassword" resultType="com.jesse.bean.User">
  	select * from user_inf  where loginname=#{0} and password=#{1}
  </select>

    <select id="selectById" parameterType="java.lang.String" resultType="com.jesse.bean.User">
        select * from user_inf where id=#{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from user_inf where id=#{id}
    </delete>

    <update id="update" parameterType="com.jesse.bean.User">
        update user_inf
        <set>
            <if test="username != null">username= #{username},</if>
            <if test="loginname != null">loginname= #{loginname},</if>
            <if test="password != null">password= #{password},</if>
            <if test="status != null">status= #{status},</if>
            <if test="create_date != null">create_date= #{create_date}</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectByPage" parameterType="hashmap" resultMap="userMap">
        SELECT * FROM(
        SELECT u.*, ROWNUM RN FROM
        (
        SELECT * FROM USER_INF ORDER BY create_date
        <where>
            <if test="user != null">
                <if test="user.username != null and user.username !=''">
                    username LIKE CONCAT (CONCAT('%',#{user.username}),'%')
                </if>
                <if test="user.status != null and user.status !=''">
                    and status LIKE CONCAT (CONCAT('%',#{user.status}),'%')
                </if>
            </if>
        </where>
        ) u
        <if test="pageModel == null">
            )
        </if>
        <if test="pageModel != null">
          WHERE ROWNUM &lt;= #{pageModel.pageTo})
          WHERE RN &gt;= #{pageModel.pageFrom}
        </if>
    </select>

    <resultMap id="userMap" type="com.jesse.bean.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="loginname" property="loginname" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="count" parameterType="hashmap" resultType="java.lang.Integer">
        select count(*) from user_inf
        <where>
            <if test="user != null">
                <if test="user.username != null and user.username !=''">
                    username LIKE CONCAT (CONCAT('%',#{user.username}),'%')
                </if>
                <if test="user.status != null and user.status !=''">
                    and status LIKE CONCAT (CONCAT('%',#{user.status}),'%')
                </if>
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.jesse.bean.User">
        insert into user_inf (<include refid="insertUserKey"/>) values (<include refid="insertUserValue"/>)
    </insert>

    <sql id="insertUserKey">
        <trim suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="status != null">status,</if>
            <if test="loginname != null">loginname,</if>
            <if test="password != null">password,</if>
        </trim>
    </sql>

    <sql id="insertUserValue">
        <trim suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="status != null"> #{status},</if>
            <if test="loginname != null">#{loginname},</if>
            <if test="password != null">#{password},</if>
        </trim>
    </sql>

</mapper>